node_modules/
/client/node_modules
/server/node_modules
.env
dist/
build/
.DS_Store
# Node
node_modules/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# ML models
*.pkl

# Datasets
*.csv


# Env
.env
