.page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.page::before {
  content: "";
  position: fixed;   /* change from absolute */
  inset: 0;
  background-image: url("../assets/image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(6px);
  transform: scale(1.1);
  z-index: -2;
}

.page::after {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(202, 203, 212, 0.393);
  z-index: -1;
}
