
.page::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(6px);
  transform: scale(1.12);
  z-index: 0;
}

.page::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(5, 8, 40, 0.7);
  z-index: 1;
}

.page > * {
  position: relative;
  z-index: 2;
}
