/* Navbar.css */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  background: black;
  position:static;
}

nav a {
  color: #e5e7eb;
  margin-left: 25px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #38bdf8;
}
