*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0f172a;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.page {
  width: 100%;
  min-height: 100vh;
  background: #0f172a;
}

.cards-grid {
  width: 100%;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px;
}

/*.card {
  height: 500px;
  padding: 24px;
  border-radius: 18px;
  background: rgba(2, 6, 23, 0.5); 
  color: white; 
}*/
.card {
  height: 500px;
  padding: 24px;
  border-radius: 18px;
  border: 1px solid white;
  background: rgba(3, 9, 34, 0.5); /* semi-transparent */
  display: flex;
  flex-direction: column;       /* stack content vertically */
  justify-content: flex-start;  /* default content at top */
  position: relative;      
  color: white;     /* needed if using absolute positioning for button */
  font-family: 'Times New Roman', Times, serif;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.load-button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: #0f172a;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.load-button:hover {
  background: #1e293b;
}

.overlay {
  position: fixed;
  top: 70px;          /* height of navbar */
  left:5%;
  width: 100vw;
  height: calc(100vh - 70px);
  background: #020617;   /* solid background */
  z-index: 9999;
}

.display-card {
  width: 90%;
  height: 95%;
  background: #8e8e91;
  color: white;
  border-radius: 5px;
  padding: 24px;
  overflow-y: auto;
}
